<section class="footbar js-footbar" data-js-footbar>
	{% section 'purchases-proof' %}
	{% section 'notifications' %}
    {% if template == "product" %}
        {% section "statistics-slider-new" %}
    {% endif %}
</section>
