<section id="quick-view" class="modal-new modal-new--wide">
    <div class="modal-new__content">
        <div class="modal-new__close" data-close>
            <span class="fa fa-times"></span>
        </div>

        <div class="modal-new__body rte"></div>
    </div>
</section>
